:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #213547;

}

.card {
  padding: 2em;
}

#app {
  margin: 0 auto;
  text-align: center;
}

.canvas-container{
  margin:10px 10px 20px 0;
  border: 1px solid #ddd;
  background-color: #f8f8f8;
  border-radius: 16px;
}

.imageDisplay{
  width: 500px;
  margin: 90px 0 20px;
  background-image: linear-gradient(to bottom, #ddd, #f6f6f6);
  border-radius: 20px;
  padding: 20px;
  box-sizing: border-box;
  height: calc(100vh - 126px);
  overflow: auto;
}
.container{
  display: flex;
  align-items: center;
  justify-content: center;
}


#input{
  width: 50%;
    height: 40px;
    margin: 30px 0 10px;
    border-radius: 20px;
    background: #fff;
    border: none;
    padding: 0 20px;
    color: #000;
}


@media screen and (max-width: 1366px) {
  .imageDisplay{
    display: none;
  }
}